header{
    position: fixed;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 0px;
    background: #005FA4;
    z-index: 8;
}

.logotipo{
    position: fixed;
    width: 80px;
    height: 80px;
    top: 1vh;
    right:5vh;
    z-index: 9;
}

footer{
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 5%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background: #005FA4;;
    align-items: center;
    height: 30px;
}    


body{
    margin: 0;
    background-size: 100%;
    position: -ms-page;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}


.ul1{
    list-style: none;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    transition: all .5s;
    height: 0px;
    size: 10px;
}


.nav1{
    background-color: rgba(0, 95, 164, 1);
    padding: 0 10px;
    justify-content: space-between;
    align-items: left;
    width: 240px;
    
}

h1, p , a {
    color: white;
}

.nav1, .ul1{
    display: flow-root;
    flex-direction: column;
    
}

.lista1{
    padding: 10px 10px;
    font-size: 22px;

}

h1{
    margin: 10px;
    margin-top: 20px;
    padding: 0px;
    font-size: 32px;
    top: 20px;
    border: none;
}

button{ 
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    position: absolute; 
    left: 35vh;
    top: 20px;
}

.lista1:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(0, 75, 130, 1);
}

button:focus ~ .ul1{
    height: 190px;  
}

@media (max-width: 200px){
    .nav1, .ul1{
        flex-direction: column;
    }

    .ul1{
        text-align: left;
        margin: 0;
        height: 0;
    }
    .nav1{
        padding: 0;
        align-items: unset;
    }
    h1{
        margin: 0px;
        font-size: 32px;
    }
    button{
        display: flex;
    }

    .lista1, .ul1{
        width: 100%;
    }
}

a{
    padding: 0vh;
    margin: 3vh;
    text-decoration: none;
    cursor: pointer;  
}

a:hover{
    opacity: .5;
}

.p1{
    margin-top: 4vh;
    margin-left: 20vh;
    text-align: justify;
    width: 52%;
    text-decoration: none;
    font-size: 24px;
    text-indent: 4vh;
    padding-top: 0vh;
    padding-bottom: 2vh;
}

.t1{
    font-size: 50px;
    margin-top: 22vh;
    margin-left: 4vh;

}


.subtitulo{
    font-size: 26px;
    text-align: justify;
    color: white;
}


.subtitulo2{
    font-size: 26px;
    color: white;
    
}

.subh2{
    font-size: 22px;
    color: white;
}

.p2{
    margin-top: 8vh;
    margin-left: 8vh;
    text-align: left;
    width: 80%;
    text-decoration: none;
    font-size: 20px;
    text-indent: 4vh;
    
}

/* TEXTOS DO TIME SCRUM*/
.texto01, .texto1, .texto2, .texto3, .texto4{
    font-size: 28px;
    text-indent: 4vh;
    width: 80%;
    text-align: justify;
    color: white;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.texto3{
    padding-bottom: 20vh;
}

.flex-container2{
    display: block;
    width: 100%;
    margin-right: 25vh;
}


.p5{
    font-size: 20px;
    text-indent: 4vh;
    width: 80%;
    text-align: justify;
    padding-left: 8vh;
} 

.p4{
    font-size: 20px;
    text-indent: 4vh;
    width: 70%;
    text-align: justify;
    padding-left: 11vh;
}


.imgartefato{
    width: 600px;
    height: 200px;
    position: absolute;
   
}

.barra, .ul1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.imgindex{
    height: 309px;
    width: 480px;
    position: absolute;
    right: 10vh;
    top: 40vh;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.título{
    font-size: 50px;
    margin-top: 22vh;
    margin-left: 4vh;
}


.linkart{
    text-decoration: underline;
    color: darkgreen;
}
.pnartefatos{
    margin-bottom: 10vh;
}

.ytvideo{
    max-width: 100%;
    max-height: 100%;
    padding-top: 5%;
    padding-bottom: 8vh;
}

.ytvideo2{
    max-width: 100%;
    max-height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.ytvideo3{
    max-width: 100%;
    max-height: 100%;
}

.img001{
    margin-bottom: 10vh;
}
  .img1,.img2,.backlog,.sprintbacklog,.burndownchart{
    max-width: 100%;
    max-height: 100%;
  }
  
  .backlog,.sprintbacklog,.burndownchart{
    height: 800px;
    width: 800px;
  }

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.backlog, .sprintbacklog, .burndownchart{
    height: 360px;
    width: 360px;
}

.np {
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10vh;
    text-align: center;
    position: static;
}

.npinit{
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 15vh;
    text-align: center;
    position: relative;
    margin-left: 70vh;
 }


.np:hover {
    background-color: #0062cc;
}
  
.np:active {
    background-color: #005cbf;
}
  
.np>a {
    color: #fff;
    text-decoration: none;
}
  