<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <img class="logotipo" src='../static/imagens/logo.png'>
</head>
    <script src="script.js"></script>
  
<body class= "back" background='../static/imagens/fundo.png' alt="fundo">
     
    <header>
    <nav class="nav1">
        <div class="logo">    
            <h1 class="barra">Navegar</h1>
        </div>
            <button>&#9776;</button>        
                <ul class="ul1">
                    <li class="lista1">
                        <a href="/">Página Inicial</a>
                    </li>
                    <li class="lista1">
                        <a href="/scrum">Entenda o Scrum</a>
                    </li>
                    <li class="lista1">
                        <a href="/time_scrum">Time Scrum</a>
                    </li>
                    <li class="lista1">
                        <a href="/artefatos_scrum">Artefatos Scrum</a>
                    </li>
                    
                </ul>
        </div>        
    </nav>
</header>


{% block content%}
    

{% endblock %}
    <footer>
        <a href="/">Home</a>
        <a href="#Quem Somos">Quem Somos</a>
        <a href="#Contato">Contato</a>    
    </footer>
</body>
</html>