{%extends "base.html"%}
{%block title%}Burndown Chart{%endblock%}
{%block content%}
<div class="título">
    <h1>Aprofundando no Burndown</h1>
</div>
    <div class="flex-container2">
        <div class="ytvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ggWCGy2k6zY" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="subh2">
            <h2>Vamos aplicar?</h2>
        </div>
        <div class="ytvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cFD84jcIjEw" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div>
            <button class="np">
                <a href="/sprintbacklog">Anterior</a>
            </button>
            <button class="np">
                <a href="/" >Início</a>
            </button>
        </div>
    </div>
{%endblock%}