{%extends "base.html"%}
{%block title2%}{%block title%}Burndown Chart{%endblock%}{%endblock%}
{%block content%}
    <div class="flex-container">
        <div class="ytvideo2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cFD84jcIjEw" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div class="text-center">
            <a href="/artefatos_scrum" class="btn btn-secondary btn-lg">Voltar</a>
            <a href="/incrementovideo" class="btn btn-secondary btn-lg">Próximo</a>
        </div>
    </div>
{%endblock%}