{%extends "base.html"%}
{%block title2%}{%block title%}Casos de Sucesso{%endblock%}{%endblock%}
{%block content%}

<div>
    <h1 class="t1">Casos de Sucesso</h1>
</div>

<p class="texto1">

Neste momento iremos apresentar brevemente alguns dados e exemplos de empresas famosas que utilizam esta metodologia ágil.
Observe neste gráfico abaixo, o qual aborda a porcentagem de utilização do método scrum em relação a outras metodologias.

</p>
<div style="text-align: center;"><img src="/static/imagens/grafico_uso_scrum.png" alt="" style="width: 1400px; height: 700px;"></div>     

<p class="texto1">
    O método scrum é especialmente popular em desenvolvimento de software,
    mas também pode ser aplicado em outros contextos, como marketing, gestão de projetos, pesquisa e desenvolvimento, entre outros.
    Logo abaixo será apresentado algumas das empresas mais conhecidas que utilizam desta metodologia.   
</p>

<div style="padding-left: 150px ;">
    <img src="/static/imagens/icone_google.png" style="width: 128px; height: 128px ;">
</div>


<p class="texto1">
    <b>Google:</b> O Google é conhecido por adotar práticas ágeis em seu desenvolvimento de software. Eles utilizam o Scrum para gerenciar seus projetos, 
    permitindo maior flexibilidade e adaptabilidade às mudanças no mercado e nas necessidades dos clientes.
</p>

<div style="padding-left: 150px ;">
    <img src="/static/imagens/Amazon_icon.png" style="width: 128px; height: 128px ;">
</div>

<p class="texto1" >

    <b>Amazon:</b> A Amazon também adota a metodologia Scrum em seus processos de desenvolvimento de software.
    Eles aplicam a abordagem ágil para garantir uma entrega rápida e iterativa de produtos e serviços, além de permitir uma maior colaboração e eficiência entre as equipes.
</p>

<div style="padding-left: 150px ;">
    <img src="/static/imagens/Microsoft_icon.png" style="width: 128px; height: 128px ;">
</div>

<p class="texto1">

    <b>Microsoft:</b> A Microsoft adotou a metodologia Scrum em muitos de seus projetos de software,
    como no desenvolvimento do sistema operacional Windows. Eles valorizam a transparência, 
    colaboração e adaptabilidade que o Scrum proporciona, 
    permitindo que eles respondam rapidamente às mudanças de requisitos e entreguem produtos de alta qualidade aos clientes.
</p>

<div style="padding-left: 150px ;">
    <img src="/static/imagens/ibm_icon.png" style="width: 128px; height: 128px ;">
</div>

<p  class="texto1">
    <b>IBM:</b> A IBM adota o Scrum em muitos de seus projetos de desenvolvimento de software. 
    Eles valorizam a agilidade e a colaboração entre as equipes, permitindo uma entrega rápida e contínua de soluções inovadoras para seus clientes.

</p>

<div style="padding-left: 150px ;">
    <img src="/static/imagens/nokia_icon.png" style="width: 128px; height: 128px ;">
</div>

<p class="texto1">
    <b>Nokia:</b> A empresa de telecomunicações e tecnologia, adota o Scrum em seus projetos de desenvolvimento de software. 
    Eles valorizam a flexibilidade e a adaptabilidade que a metodologia oferece, 
    permitindo que eles respondam de forma ágil às mudanças do mercado.


</p>

{%endblock%}