{%extends "base.html"%}
{%block title2%}{%block title%}Eventos Video{%endblock%}{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="ytvideo2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3W7WseSkrS8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>
<div class="text-center">
    <a href="/eventos_scrum" class="btn btn-secondary btn-lg">Voltar</a>
</div>
{%endblock%}