{%extends "base.html"%}
{%block title2%}{%block title%}SCRUM{%endblock%}{%endblock%}
{%block content%}
<div class='container'>
    <h1 class="t1">Por quê ensinar o Método Scrum<br>
        para profissionais da Eduação?</h1>
        <p class="p1">
            Um profissional da educação pode se beneficiar muito ao estudar o método Scrum, pois ele permite aplicar uma abordagem
            ágil no processo de ensino-aprendizagem. O Scrum pode ajudar a criar uma cultura de colaboração e foco no aluno,
            permitindo que a equipe educacional se adapte às mudanças e necessidades dos alunos de forma mais eficiente. Além disso,
            o Scrum enfatiza a melhoria contínua, o que pode levar a uma constante evolução no processo educacional. Com isso,
            estudar o método Scrum pode ajudar o profissional da educação a ser mais eficiente, aprimorar a qualidade do ensino e,
            consequentemente, melhorar o desempenho e a satisfação dos alunos.
        </p>
    <div>
        <img class="imgindex" src="../static/imagens/prof-removebg.png" alt="professor sem fundo">
    </div>
    <div class="text-center">
        <a href="/scrum" class="btn btn-secondary btn-lg">Iniciar</a>
    </div>
</div>
{%endblock%}