{%extends "base.html"%}
{%block title%}Product Backlog{%endblock%}
{%block content%}
<div class="título">
    <h1>Aprofundando no Product Backlog</h1>
</div>
<div class="flex-container2">
    <div class="ytvideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nO8_p6T6b9k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    <div>
        <button class="np">
            <a href="/artefatos_scrum">Anterior</a>
        </button>
        <button class="np">
            <a href="/sprintbacklog">Próximo</a>
        </button>
    </div>
</div>
{%endblock%}