{%extends "base.html"%}
{%block title%}Quest Eventos{%endblock%}
{%block content%}
<div class="flex-container">
<div class="t1">
    <h1>Questionário sobre Eventos Scrum</h1>
</div>
<div class="quiz">
        <form>
            <div>
                <h3>1- Qual é o objetivo da Daily Scrum? </h3>
            </div>
                <div>
                    <label>
                        <input type="radio" name="q1" value="a">
                        a- Relatar o status para o gerente de projeto.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q1" value="b">
                        b- Atualizar o Product Owner.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q1" value="c">
                        c- Manter a equipe de desenvolvimento alinhada e focada no trabalho. d) Identificar novas tarefas para a
                        equipe.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q1" value="d">
                        d- Identificar novas tarefas para a equipe.
                    </label>
                </div>
            <div>
                <br>
                <h3>2- Analise as afirmações abaixo sobre as Dailys:<br>
                    (I) É preciso questionar o PO: O que você fez desde a última Daily Scrum?<br>
                    (II) É necessário perguntar ao DT: Existe algo impedindo o seu progresso?<br>
                    (III) A Daily Scrum é uma reunião para atualizar o SM<br><br>
                    É correto o que se afirma em:
                </h3>
            </div>
                <div>
                    <label>
                        <input type="radio" name="q2" value="a">
                        a- (I) e (III).
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q2" value="b">
                        b- (II) e (III).
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q2" value="c">
                        c- Apenas na (II).
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q2" value="d">
                        d- Apenas na (I).
                    </label>
            </div>
            <br>
            <form>
                <div>
                    <h3>3- Qual é o objetivo da Sprint no framework Scrum?</h3>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q3" value="a">
                        a- Permitir que a equipe de desenvolvimento entregue valor ao cliente de forma iterativa e
                        incremental.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q3" value="b">
                        b- Revisar o progresso do trabalho e identificar quaisquer obstáculos que possam impedir a conclusão
                        das tarefas.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q3" value="c">
                        c- Garantir que todas as tarefas estejam no caminho para serem concluídas até o final do projeto. 
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q3" value="d">
                        d- Apresentar o Product Increment em uma reunião de revisão do projeto.
                    </label>
                </div>
                <br>
                <div>
                    <h3>4- Leia a frase a seguir e complete as lacunas corretamente:<br><br>“Sprint é um período de tempo fixo e
                        curto, geralmente de uma a quatro semanas, durante o qual ______________ trabalha para entregar um
                        conjunto de funcionalidades e requisitos definidos _____________.” </h3>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q4" value="a">
                        a-  “Product Owner”; ”o Scrum Master”.  
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q4" value="b">
                        b- “a Equipe de Desenvolvimento”; ”o Product Owner”.  
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q4" value="c">
                        c- “o Scrum Master”; ”o Scrum Time”.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="q4" value="d">
                        d- “o framework Scrum”; ”a Equipe de Desenvolvimento”
                    </label>
                </div>
                <br>
                <form>
                    <div>

                        <h3>5- O que é feito na Reunião de Planejamento da Sprint?</h3>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q5" value="a">
                            a- É atualizado o Product Backlog e definido o trabalho a ser realizado na próxima Sprint. 
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q5" value="b">
                            b- É revisar o progresso do trabalho e identificado quaisquer evoluções que possam impedir a conclusão das tarefas.  
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q5" value="c">
                            c- É apresentado o Product Increment para os stakeholders e recebido feedback.  
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q5" value="d">
                            d-  É dividido o trabalho em tarefas maiores e atribuido a membros específicos da equipe de desenvolvimento. 
                        </label>
                    </div>
                    <br>
                    <div>
                        <h3>6- Qual a visão geral da Reunião de Planejamento no framework Scrum? </h3>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q6" value="a">
                            a- Definir o conjunto de funcionalidades que serão revisados no próximo Sprint.  
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q6" value="b">
                            b- Revisar o progresso do trabalho realizado durante o Sprint e ignorar os obstáculos. 
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q6" value="c">
                            c- Definir as metas e objetivos de longo prazo do projeto.  
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="q6" value="d">
                            d- Realizar a retrospectiva do Sprint e parabenizar pontos de melhoria. 
                        </label>
                    </div>
                    <br>
                    <form>
                        <div>
                            <h3>7- Qual o objetivo da Sprint Retrospective? </h3>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q7" value="a">
                                a-  Identificar as funcionalidades a serem entregues no próximo Sprint.
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q7" value="b">
                                b- Revisar o progresso do trabalho realizado durante a Sprint e identificar obstáculos. 
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q7" value="c">
                                c-  Definir as metas e objetivos de longo prazo do projeto.  
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q7" value="d">
                                d- Refletir sobre o processo de desenvolvimento e identificar pontos de melhoria. 
                            </label>
                        </div>
                        <br>
                        <div>
                            <h3>8- Quem deve participar da Sprint Retrospective?  </h3>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q8" value="a">
                                a- Apenas a equipe de desenvolvimento.  
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q8" value="b">
                                b- Apenas o Product Owner.
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q8" value="c">
                                c- Apenas o Scrum Master.
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="q8" value="d">
                                d- Toda a equipe Scrum, incluindo a equipe de desenvolvimento, o Product Owner e o Scrum Master. 
                            </label>
                        </div>
                        <br>
                             <input class="btn btn-success" type="button" value="Enviar" onclick="verificar_eventos()">
                        </form>
                </form>
            </form>
        </form>
        <p id="resultado"></p>
        <br>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Seguir</a>
    </div>
</div>
</div>

    <script src="script1.js"></script>
{%endblock%}