{%extends "base.html"%}
{%block title%}Scrum Cases AMAZON{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">AMAZON</h1>
    <p class="texto1">
        A Amazon é uma empresa conhecida por sua cultura de inovação e foco no cliente, e também adotou o Scrum como uma
        metodologia ágil de desenvolvimento de software. A implementação do Scrum na Amazon é baseada em equipes
        multifuncionais, que trabalham em conjunto para atingir objetivos comuns.
    </p>
    <p class="texto1">
        Uma das características da implementação do Scrum na Amazon é a ênfase na entrega contínua de software,
        utilizando práticas DevOps para garantir que as funcionalidades desenvolvidas pelas equipes estejam prontas para
        implantação a qualquer momento. Isso permite que a empresa responda rapidamente às demandas do mercado e do
        cliente, entregando novas funcionalidades em ciclos curtos.
    </p>
    <p class="texto1">
        Além disso, a Amazon tem uma cultura de experimentação, em que as equipes são incentivadas a testar novas ideias
        e protótipos em um ambiente seguro, sem medo de falhar. Isso é apoiado pela metodologia Scrum, que permite que
        as equipes experimentem e aprendam com as iterações anteriores, incorporando o feedback recebido para melhorar
        continuamente o produto.
    </p>
    <p class="texto1">
        A implementação do Scrum na Amazon também é caracterizada pela descentralização do processo de tomada de
        decisão, em que as equipes têm autonomia para definir suas próprias prioridades e estratégias de
        desenvolvimento. Isso é possível graças à adoção de uma mentalidade de liderança distribuída, em que os líderes
        não são apenas aqueles com cargos de gerência, mas sim aqueles que lideram pelo exemplo e influência.
    </p>
    <p class="texto1">
        Em resumo, a implementação do Scrum na Amazon é baseada em equipes multifuncionais, entrega contínua de
        software, cultura de experimentação e descentralização do processo de tomada de decisão, apoiados por práticas
        DevOps e uma mentalidade de liderança distribuída. Essa abordagem ágil permite que a empresa se adapte
        rapidamente às mudanças do mercado e do cliente, entregando produtos de alta qualidade e com grande valor para
        seus usuários.
    </p>
    </p>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</div>
{%endblock%}