{%extends "base.html"%}
{%block title%}Scrum Cases IBM{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">IBM</h1>
    <p class="texto1">
        A IBM é uma empresa líder em tecnologia que adotou o Scrum como uma metodologia ágil para gerenciamento de
        projetos de software. A implementação do Scrum na IBM é caracterizada pela formação de equipes autônomas e
        multidisciplinares, que colaboram entre si para alcançar objetivos comuns.</p>

    <p class="texto1">A abordagem Scrum na IBM enfatiza a importância da comunicação eficaz e da transparência em todas
        as fases do projeto. A empresa adota reuniões diárias de stand-up para garantir que as equipes estejam alinhadas
        com os objetivos do projeto e para identificar rapidamente quaisquer impedimentos que possam estar afetando o
        progresso do trabalho.</p>

    <p class="texto1">- Além disso, a IBM incentiva a inovação e a experimentação dentro de suas equipes, incentivando a
        criação de protótipos e a busca por novas soluções para problemas complexos. As equipes têm liberdade para
        testar e aprender com as iterações anteriores, incorporando o feedback recebido para melhorar continuamente o
        produto.</p>

    <p class="texto1">Outro aspecto importante da implementação do Scrum na IBM é o compromisso da empresa com a
        qualidade do produto e a satisfação do cliente. A empresa adota práticas rigorosas de testes automatizados e
        garantia de qualidade para garantir que o software desenvolvido atenda aos padrões de qualidade e às
        necessidades dos clientes.
    </p>
    <p class="texto1">
        Em resumo, a implementação do Scrum na IBM é baseada em equipes autônomas e multidisciplinares, comunicação
        eficaz e transparência, inovação e experimentação, compromisso com a qualidade do produto e satisfação do
        cliente. Esses princípios ágeis permitem que a IBM desenvolva produtos de alta qualidade de forma eficiente e
        responsiva às demandas do mercado.
    </p>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</div>
{%endblock%}