{%extends "base.html"%}
{%block title%}scrum{%endblock%}
{%block content%}

    <div>
        <h1 class="t1">Vamos entender o que é o método Scrum?</h1>
    </div>
<div class="flex-container2">
        <div class="ytvideo2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XfvQWnRgxG0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
            </iframe>
        </div>
    <div class="texto01">
        <p>O Scrum é uma metodologia ágil de gerenciamento de projetos que tem como objetivo aumentar a eficiência e qualidade
            da entrega do produto final. O método consiste em dividir o projeto em pequenos ciclos chamados de sprints, nos
            quais uma equipe multifuncional trabalha em conjunto para entregar funcionalidades em curtos períodos de tempo.
            O processo inclui reuniões diárias de acompanhamento, revisões e retrospectivas do sprint anterior, além de
            planejamento do próximo sprint. O Scrum enfatiza a transparência, a inspeção e a adaptação, tornando possível uma
            entrega contínua e incremental do produto final.
        </p>
    </div>
    <div>
        <img class="img002" src="../static/imagens/image-28.png" alt="frameworkscrum">
    </div>
    <div class="texto01">
        <p>
            Com o Scrum, é possível melhorar a colaboração entre os membros da equipe, aumentar a produtividade e a satisfação
            do cliente, além de reduzir riscos e custos. É uma metodologia altamente flexível, que pode ser aplicada em diversos
            tipos de projetos.
        </p>
    </div>
    <div>
        <img class="img001" src="../static/imagens/Responsabilidades-do-Scrum-v3.png" alt="responsabilidades-do-scrum">
    </div>
    <div>
        <button class="np">
            <a href="/">Anterior</a>
        </button>
        <button class="np">
            <a href="/time_scrum">Próximo</a>
        </button>
    </div>
</div>
{%endblock%}