{%extends "base.html"%}
{%block title%}Scrum Cases Spotify{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">SPOTIFY</h1>
        <p class="texto1">A implementação do Scrum na Spotify é um exemplo de como o framework pode ser adaptado para atender às necessidades
        de uma empresa específica. A Spotify é uma empresa de streaming de música que adotou o Scrum para melhorar a
        eficiência e a qualidade do trabalho em equipe em seus projetos de software.</p>

        <p class="texto1">Uma das principais adaptações do Scrum na Spotify é a criação de equipes autônomas, chamadas de squads. Cada squad é
        formado por profissionais multidisciplinares, que têm a autonomia de tomar decisões e definir como o trabalho será
        realizado.</p>

        <p class="texto1">Além disso, a Spotify utiliza outros elementos do Scrum, como o Product Backlog, o Sprint Backlog e as reuniões
        diárias. O Product Backlog é uma lista de funcionalidades que devem ser desenvolvidas, que é organizada pelo Product
        Owner. O Sprint Backlog é uma lista de tarefas que devem ser realizadas durante o Sprint, que é geralmente de duas
        semanas. As reuniões diárias são realizadas para que a equipe possa acompanhar o progresso do trabalho e identificar
        possíveis obstáculos.</p>

        <p class="texto1">Outra adaptação do Scrum na Spotify é a implementação do conceito de chapters e guilds. Os chapters são grupos de
        profissionais com habilidades similares, que se reúnem para compartilhar conhecimento e trocar experiências. As
        guilds, por sua vez, são grupos de pessoas com interesses em comum, que se reúnem para discutir temas específicos.</p>

        <p class="texto1">A implementação do Scrum na Spotify trouxe diversos benefícios, como a melhoria na comunicação entre as equipes, o
        aumento da transparência no processo de desenvolvimento e a redução de custos e tempo de entrega. Além disso, a
        Spotify conseguiu manter a agilidade necessária para lidar com as mudanças constantes no mercado de streaming de
        música, garantindo sua competitividade.</p>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</div>
{%endblock%}