{%extends "base.html"%}
{%block title%}Cases de Sucesso{%endblock%}
{%block content%}

<div class="card-container">
  <div class="card-wrapper">
    <div class="card" style="width: 20rem ;">
        <img src="../static/imagens/LEGO_logo.png" class="card-img-top" alt="lego">
        <div class="card-body" style="max-height: 240px;">
          <h5 class="card-title">Case de sucesso LEGO</h5>
          <p class="card-text">A Lego é uma empresa que implementou o Scrum em sua gestão de projetos.</p>
          <a href="/scrumcases_lego" class="btn btn-outline-secondary">Saiba mais</a>
        </div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card" style="width: 20rem;">
      <img src="../static/imagens/google.png" class="card-img-top" alt="google">
      <div class="card-body" style="max-height: 240px;">
        <h5 class="card-title">Case de sucesso Google</h5>
        <p class="card-text">O Google é uma das empresas que tem se destacado no uso do Scrum em seus projetos de software.</p>
        <a href="/scrumcases_google " class="btn btn-outline-secondary">Saiba mais</a>
      </div>
    </div>  
  </div>
  <div class="card-wrapper">
    <div class="card" style="width: 20rem;">
        <img src="../static/imagens/spotifylogo.png" class="card-img-top" alt="spotify">
        <div class="card-body" style="max-height: 240px;">
          <h5 class="card-title">Case de sucesso SPOTIFY</h5>
          <p class="card-text">A implementação do Scrum na Spotify é um exemplo de como o framework pode ser adaptado.</p>
          <a href="/scrumcases_spotify " class="btn btn-outline-secondary">Saiba mais</a>
        </div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card card-small" style="width: 20rem ;">
        <img src="../static/imagens/microsoft.png" class="card-img-top" alt="microsoft">
        <div class="card-body" style="max-height: 240px;">
          <h5 class="card-title">Case de sucesso Microsoft</h5>
          <p class="card-text">A Microsoft é uma das empresas que adotaram o Scrum como metodologia ágil de desenvolvimento.</p>
          <a href="/scrumcases_microsoft" class="btn btn-outline-secondary">Saiba mais</a>
        </div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card" style="width: 20rem ;">
        <img src="../static/imagens/ibm.png" class="card-img-top" alt="IBM">
        <div class="card-body">
          <h5 class="card-title">Case de sucesso IBM</h5>
          <p class="card-text">A implementação do Scrum na IBM é baseada em equipes autônomas trabalhando em áreas específicas.</p>
          <a href="/scrumcases_ibm" class="btn btn-outline-secondary">Saiba mais</a>
        </div>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card" style="width: 20rem ;">
        <img src="../static/imagens/amazon.png" class="card-img-top" alt="lego">
        <div class="card-body" style="max-height: 240px;">
          <h5 class="card-title">Case de sucesso AMAZON</h5>
          <p class="card-text">A Lego é uma empresa que implementou o Scrum em sua gestão de projetos.</p>
          <a href="/scrumcases_amazon" class="btn btn-outline-secondary">Saiba mais</a>
        </div>
    </div>
  </div>    
</div>
<br>

<div class="text-center">
  <a href="/softskills" class="btn btn-secondary btn-lg">Seguir</a>
</div>
</div>

{%endblock%}