{%extends "base.html"%}
{%block title%}Scrum Cases Microsoft{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">MICROSOFT</h1>
    <p class="texto1">
        A Microsoft é uma das empresas que adotaram o Scrum como uma metodologia ágil de desenvolvimento de software. A
        implementação do Scrum na Microsoft começou em 2005, quando a empresa iniciou um projeto de desenvolvimento do
        Microsoft Visual Studio Team System, uma plataforma de gerenciamento de ciclo de vida de aplicativos.</p>

        <p class="texto1">A Microsoft adotou o Scrum como uma abordagem de desenvolvimento de software que enfatiza a colaboração entre as
        equipes e o envolvimento dos stakeholders para garantir a entrega de software de alta qualidade em prazos
        curtos.

        <p class="texto1">A implementação do Scrum na Microsoft é baseada em equipes autônomas, com equipes Scrum trabalhando em áreas
        específicas do produto. Cada equipe Scrum tem um Product Owner, que é responsável por definir as prioridades e o
        backlog do produto, um Scrum Master, que atua como facilitador e mentor para a equipe, e um grupo de
        desenvolvedores, que são responsáveis por implementar as funcionalidades do produto.
            <br>
        A Microsoft também adotou várias práticas do Scrum, incluindo:
            <br>
        - Sprints: ciclos curtos e iterativos de desenvolvimento que duram cerca de 2-4 semanas;<br>
        - Daily Stand-up Meetings: reuniões diárias de 15 minutos em que a equipe se reúne para discutir o progresso,
        obstáculos e planos para o dia;<br>
        - Sprint Reviews: reuniões ao final de cada sprint, onde a equipe apresenta as funcionalidades desenvolvidas e
        recebe feedback do Product Owner e dos stakeholders;<br>
        - Sprint Retrospectives: reuniões ao final de cada sprint, onde a equipe discute o que funcionou bem e o que
        precisa ser melhorado no processo de desenvolvimento.<br>

        A implementação do Scrum na Microsoft foi bem-sucedida e ajudou a empresa a entregar software de alta qualidade
        em prazos curtos, melhorando a colaboração entre as equipes e a comunicação com os stakeholders.
    </p>
    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</div>
{%endblock%}