{%extends "base.html"%}
{%block title%}Scrum Cases Lego{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">LEGO</h1>
    <p class="texto1">
        A Lego é uma empresa que implementou o Scrum em sua gestão de projetos para agilizar seus processos de
        desenvolvimento de produtos e melhorar a comunicação entre as equipes. O Scrum é um framework ágil para gestão
        de projetos, que tem como objetivo maximizar a eficiência e a qualidade do trabalho em equipe.</p>

        <p class="texto1">A implementação do Scrum na Lego segue os princípios básicos do framework, que incluem a criação de um Product
        Backlog, um Sprint Backlog e a realização de reuniões diárias para acompanhar o progresso do trabalho.</p>

        <p class="texto1">O Product Backlog é uma lista de todas as funcionalidades que devem ser desenvolvidas no projeto. Essa lista é
        organizada pelo Product Owner, que é responsável por definir as prioridades e determinar o que deve ser
        desenvolvido em cada Sprint.</p>

        <p class="texto1">O Sprint Backlog é uma lista das tarefas específicas que devem ser realizadas durante o Sprint, que é o período
        de tempo definido para a realização das atividades. O Sprint geralmente dura de duas a quatro semanas.</p>

        <p class="texto1">As reuniões diárias, chamadas de Daily Scrum, são realizadas para que a equipe possa acompanhar o progresso do
        trabalho e identificar possíveis obstáculos. Durante essas reuniões, cada membro da equipe compartilha o que fez
        no dia anterior, o que planeja fazer no dia atual e se há algum impedimento que precise ser resolvido.</p>

        <p class="texto1">A implementação do Scrum na Lego trouxe diversos benefícios, como a melhoria na comunicação entre as equipes, o
        aumento da transparência no processo de desenvolvimento e a redução de custos e tempo de entrega. Além disso, o
        Scrum permitiu que a Lego pudesse responder com maior rapidez às mudanças no mercado, garantindo sua
        competitividade.</p>
    

    <div class="text-center">
        <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</div>
{%endblock%}