{%extends "base.html"%}
{%block title2%}{%block title%}Softskills mais Desejadas{%endblock%}{%endblock%}
{%block content%}
<div class="flex-container">
    <h1 class="t1">Softskills</h1>
    <p class="texto1">
        Softskills são habilidades pessoais, sociais e de comunicação que nos permitem nos relacionar com outras pessoas
        de forma eficaz e cooperativa, independentemente do ambiente ou situação em que estamos. Essas habilidades
        incluem comunicação efetiva, trabalho em equipe, resolução de problemas, flexibilidade e adaptabilidade,
        liderança, empatia e inteligência emocional, pensamento crítico e gerenciamento de tempo.
    </p>
    <p class="texto1">
        As softskills são diferentes das hardskills, que são habilidades técnicas e específicas relacionadas a uma
        determinada profissão ou área de conhecimento. As hardskills incluem, por exemplo, habilidades de programação,
        conhecimento de línguas estrangeiras, habilidades de contabilidade, entre outras. Enquanto as hardskills são
        necessárias para desempenhar funções específicas no trabalho, as softskills são fundamentais para o sucesso
        geral no ambiente profissional e pessoal.
    </p>
    <p class="texto1">
        As softskills são importantes no ambiente de trabalho porque, ao contrário das hardskills, elas são
        transferíveis entre diferentes empregos e setores. Por exemplo, a habilidade de trabalhar bem em equipe pode ser
        aplicada em qualquer ambiente de trabalho, desde uma empresa de tecnologia até um hospital. Além disso, as
        softskills são importantes para o sucesso de longo prazo no ambiente de trabalho, pois as pessoas com boas
        softskills geralmente são vistas como líderes naturais, e são mais propensas a serem promovidas e a assumir
        posições de liderança.
    </p>
    <p class="texto1">
        Existem várias softskills importantes para trabalhar com o método Scrum. Algumas das mais importantes incluem:
    </p>
    <p class="texto1">
        1- Colaboração: A colaboração é essencial em equipes Scrum, e os membros da equipe devem estar dispostos a
        trabalhar juntos para atingir os objetivos do projeto.<br>
        2- Comunicação: A comunicação eficaz é fundamental em equipes Scrum, e os membros da equipe devem ser capazes de
        se comunicar de maneira clara e concisa.<br>
        3- Flexibilidade: A flexibilidade é importante em equipes Scrum, pois os projetos muitas vezes envolvem mudanças
        frequentes e rápidas.<br>
        4- Resolução de problemas: A capacidade de resolver problemas de forma eficaz é fundamental para o sucesso em
        equipes Scrum.<br>
        5- Pensamento crítico: O pensamento crítico é importante em equipes Scrum, pois os membros da equipe devem ser
        capazes de avaliar e analisar informações para tomar decisões informadas.<br>
        6- Adaptabilidade: A adaptabilidade é fundamental em equipes Scrum, pois o método ágil exige que as equipes se
        adaptem rapidamente a mudanças e novas situações.<br>
        7- Liderança: A liderança é importante em equipes Scrum, pois os membros da equipe devem ser capazes de liderar
        e apoiar uns aos outros quando necessário.<br>
        8- Gestão do tempo: A gestão do tempo é essencial em equipes Scrum, pois os projetos são baseados em prazos
        curtos e iterações frequentes.<br>
        9- Trabalho em equipe: A capacidade de trabalhar bem em equipe é importante em equipes Scrum, pois todos os
        membros da equipe devem ser capazes de trabalhar juntos para atingir os objetivos do projeto.<br>
    </p>
    <p class="texto1">Essas são apenas algumas das softskills mais importantes para trabalhar com o método Scrum, e é importante lembrar
    que cada projeto e equipe são únicos e podem exigir habilidades específicas adicionais.</p>
</div>

<div class="text-center">
    <a href="/scrumcases" class="btn btn-secondary btn-lg">Voltar</a>
    <a href="/" class="btn btn-secondary btn-lg">Home</a>
</div>
{%endblock%}