{%extends "base.html"%}
{%block title%}Time Scrum{%endblock%}
{%block content%}

<div>
    <h1 class="t1">Time Scrum</h1>
</div>
<div class="texto1">
    <div class="flex-container">
        <p>
            O Time Scrum é composto por três papéis principais: o Product Owner, o Scrum Master e a equipe de desenvolvimento.
        </p>
        <div class="ytvideo3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dJiGm7EqMeE?start=132" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div>
            <p>O Product Owner é responsável por representar os interesses do cliente e do usuário final, definindo e priorizando o
            backlog do produto e as metas do projeto. Ele é o responsável por tomar as decisões sobre o que deve ser feito em cada
            sprint.
            </p>
        </div>
        <div>
            <p>
                O Scrum Master é o guardião do processo Scrum, responsável por garantir que a equipe siga as práticas e valores do
                Scrum, além de remover os impedimentos que possam atrapalhar o desenvolvimento do projeto. Ele também facilita as
                cerimônias do Scrum e promove a melhoria contínua do time.
            </p>
        </div>
        <div>
            <p>
                A equipe de desenvolvimento é formada por profissionais multifuncionais que trabalham juntos para entregar as
                funcionalidades do produto. Eles são autogerenciáveis e responsáveis por decidir como irão realizar as tarefas do
                backlog do sprint. A equipe de desenvolvimento é composta por desenvolvedores, designers, testers, entre outros
                profissionais, dependendo da natureza do projeto.<br>
                Esses três papéis trabalham em conjunto e se apoiam mutuamente para garantir o sucesso do projeto e a entrega de valor
                ao cliente.
            </p>
        </div>
        <div>
            <button class="np">
                <a href="/">Anterior</a>
            </button>
            <button class="np">
                <a href="/artefatos_scrum">Próximo</a>
            </button>
        </div>
    </div>
</div>
{%endblock%}