{%extends "base.html"%}
{%block title%}Video Time Scrum{%endblock%}
{%block content%}
<div class="flex-container">
    <div class="ytvideo2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jkCGCVBpmcE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>
<div class="text-center">
    <a href="/time_scrum" class="btn btn-secondary btn-lg">Voltar</a>
    <a href="/artefatos_scrum" class="btn btn-secondary btn-lg">Seguir</a>
</div>
{%endblock%}